<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/public/css/style.css">
</head>


<body>
    <div>
        <header class="brand">Welcome to West Coast Best Coast Bed & Breakfast Search</header>
        <section class="about">Check out what the West Coast of the United States has to offer. Bet you won't be dissapointed!</section>
        <div>
            <ul>
                <% Bed.forEach(Bed => { %>
                    <li>
                        <div class="container">
                            <h2><%= Bed.name %></h2>
                            <h2><img class="state" src=<%= Bed.state %>></h2>
                            <a href="/bed/<%=Bed.id%>"><img class="home" src=<%= Bed.img %>></a>
                            
                        </div>

                    </li>
                
                <% }) %>
            </ul>
    
        </div>

    </div>
    
</body>
</html>